.car-list {
  .car {
      padding: 15px;
    .car_img {
      img {

      }
    }
  }
}

header {
  background: #1b6d85;
  color: #f5f5f5;

  h1.logo {
    margin: 10px;
    font-size: 28px;
  }
}

.add_form_wrapper {
  margin: 15px;
  display: inline-block;
}