<!DOCTYPE html>
<!-- <html ng-app> -->
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Angular SPA</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!-- <p>
  2+3={{2+3}}
</p>
<p>
  <input type="text" ng-model="hello"/><br>
  {{hello}}
</p> -->
<div>
    <div class="container">
        <div class="row">
            <!--<input type="text" ng-model="foo">-->
            <!--{{foo}}-->
            <!--<button ng-click="myFirstClick()" type="button">-->
            <!--Click me-->
            <!--</button>-->
            <br><br>
            <header class="col-sm-12">
                <h1 class="logo">Car List</h1>
            </header>

            <div class="add_form">
                <form class="form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input class="form-control" type="text" placeholder="Цена">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only"></label>
                        <input type="text" class="form-control" placeholder="Пробег">
                    </div>
                    <button type="submit" class="btn btn-default">Добавить</button>
                </form>
            </div>


            <div ng-controller="CarController" class="car-list">
                <div id="car-{{item.id}}" class="car col-sm-4" bar ng-repeat="item in list">
                    <div class="car_img"><img class="img-responsive" src="images/{{item.img}}" alt=""></div>
                    <h4 class="car_name">{{item.name}}</h4>
                    <div class="car_price">${{item.price}}</div>
                    <div class="car_info">
                        <span class="car_year">{{item.year}}</span>
                        <span class="car_mileage">{{item.mileage}}</span>
                    </div>
                </div>
            </div>

            <!--<p>-->
            <!--{{currentDate | date | world}}-->
            <!--</p>-->

            <!--<p>-->
            <!--{{text | uppercase }}-->
            <!--</p>-->
            <!--<p bar>-->
            <!--{{text | world }}-->
            <!--</p>-->
        </div>
    </div>
</div>
<!-- build:js scripts/app.js -->
<script src="bower_components/angular/angular.js" charset="utf-8"></script>
<script src="scripts/app.js" charset="utf-8"></script>
<script src="scripts/filters/world.js" charset="utf-8"></script>
<script src="scripts/directives/click.js" charset="utf-8"></script>
<script src="scripts/controllers/CarController.js" charset="utf-8"></script>
<!-- endbuild -->
</body>
</html>
